{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>
        {% blocktrans with applicant_name=application.name %}
            Application from {{ applicant_name }}
        {% endblocktrans %}
    </h1>
    <dl>
        <dt>{% trans "Name" %}</dt>
        <dd>{{ application.name }}</dd>

        <dt>{% trans "Requested Positions" %}</dt>
        <dd>
            <ul>
                {% for position in application.requested_positions.all %}
                    <li>{{ position.name }}</li>
                {% endfor %}
            </ul>
        <dd>
        <form method="post" action="{% url "application_accept" pk=application.pk %}">
            {% csrf_token %}
            <input type="submit" value="Accept application">
        </form>
        <a href="{% url "application_delete" pk=application.pk %}">
            {% trans "Delete application" %}
        </a>
    </dl>
{% endblock %}
