{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Applications" %}</h1>
    {% if object_list %}
        <ul>
            {% for application in object_list %}
                <li>
                    <a href="{% url "application_detail" pk=application.pk %}">
                        {{ application.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No applications found" %}</p>
    {% endif %}
{% endblock %}
