{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Import Applications" %}</h1>
    {% if imported_application %}
        <p>Name: {{ imported_application.name }}</p>
        <form method="POST" action="{% url "application_import" %}">
            {% csrf_token %}
            <input type="hidden" name="application_id" value="{{ imported_application.id }}">
            <button type="submit">Import application</button>
        </form>
    {% else %}
        <p>{% trans "No new applications" %}</p>
    {% endif %}
{% endblock %}
