{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Volunteers" %}</h1>
    {% if object_list %}
        <ul>
            {% for volunteer in object_list %}
                <li>
                    {{ volunteer.name }}
                    <form method="post" action="{% url "volunteer_list" %}">
                    {% csrf_token %}
                        <input type="hidden" value="{{ volunteer.name }}" name="request_availability">
                        <button type="submit">Request Availabilities</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No volunteers found" %}</p>
    {% endif %}
{% endblock %}
