<div class="main">
    <div class="header">
        <h1>Thanks a lot for your interest!</h1>
        <h2>You should receive a confirmation email within the next minutes.</h2>
        <br>
        <h2>If that is not the case or you have any further questions, please don't hesitate to contact us <a
                href="mailto:crew@sea-watch.org" class="mailto">crew@sea-watch.org</a>.</h2>
    </div>
</div>
